/* ── Main Colors ----------------------------------------------------------- */
// Dark Blue.
$clr-main-dark-blue-100: var(--clr-main-dark-blue-100);
$clr-main-dark-blue-200: var(--clr-main-dark-blue-200);
$clr-main-dark-blue-300: var(--clr-main-dark-blue-300);
$clr-main-dark-blue-400: var(--clr-main-dark-blue-400);
$clr-main-dark-blue-500: var(--clr-main-dark-blue-500);
$clr-main-dark-blue-600: var(--clr-main-dark-blue-600);
$clr-main-dark-blue-700: var(--clr-main-dark-blue-700);
$clr-main-dark-blue-800: var(--clr-main-dark-blue-800);
// Light Blue.
$clr-main-light-blue-100: var(--clr-main-light-blue-100);
$clr-main-light-blue-200: var(--clr-main-light-blue-200);
$clr-main-light-blue-300: var(--clr-main-light-blue-300);
$clr-main-light-blue-400: var(--clr-main-light-blue-400);
$clr-main-light-blue-500: var(--clr-main-light-blue-500);
$clr-main-light-blue-600: var(--clr-main-light-blue-600);
$clr-main-light-blue-700: var(--clr-main-light-blue-700);
$clr-main-light-blue-800: var(--clr-main-light-blue-800);
// Background.
$clr-main-bg-100: var(--clr-main-bg-100);
$clr-main-bg-200: var(--clr-main-bg-200);
$clr-main-bg-300: var(--clr-main-bg-300);
$clr-main-bg-400: var(--clr-main-bg-400);
$clr-main-bg-500: var(--clr-main-bg-500);
$clr-main-bg-600: var(--clr-main-bg-600);
$clr-main-bg-700: var(--clr-main-bg-700);
$clr-main-bg-800: var(--clr-main-bg-800);

/* ── Grayscale ------------------------------------------------------------- */
$clr-grayscale-100: var(--clr-grayscale-100);
$clr-grayscale-200: var(--clr-grayscale-200);
$clr-grayscale-300: var(--clr-grayscale-300);
$clr-grayscale-400: var(--clr-grayscale-400);
$clr-grayscale-500: var(--clr-grayscale-500);
$clr-grayscale-600: var(--clr-grayscale-600);
$clr-grayscale-700: var(--clr-grayscale-700);
$clr-grayscale-800: var(--clr-grayscale-800);

/* ── Tiles ----------------------------------------------------------------- */
// Gem.
$clr-tiles-gem-default: var(--clr-tiles-gem-default);
$clr-tiles-gem-revealed: var(--clr-tiles-gem-revealed);
$clr-tiles-gem-bg: var(--clr-tiles-gem-bg);
// Mine.
$clr-tiles-mine-default: var(--clr-tiles-mine-default);
$clr-tiles-mine-revealed: var(--clr-tiles-mine-revealed);
$clr-tiles-mine-bg: var(--clr-tiles-mine-bg);
