// Font size.
$font-s: 0.857rem; // 12px
$font-base: 1rem; // 14px
$font-l: 1.143rem; // 16px
$font-xl: 1.429rem; // 20px
$font-2xl: 1.714rem; // 24px
$font-3xl: 2rem; // 28px
$font-4xl: 2.286rem; // 32px

// Font weight.
$font-w-light: 300;
$font-w-normal: 400;
