// Padding / Margin.
$var-spacing-4xs: 0.286rem;
$var-spacing-3xs: 0.429rem;
$var-spacing-2xs: 0.571rem;
$var-spacing-xs: 0.714rem;
$var-spacing-s: 0.857rem;
$var-spacing-m: 1rem;
$var-spacing-l: 1.143rem;
$var-spacing-xl: 1.429rem;
$var-spacing-2xl: 1.714rem;
$var-spacing-3xl: 2rem;
$var-spacing-4xl: 2.286rem;

// Border-radius.
$var-rounded-s: 4px;
$var-rounded-m: 6px;
$var-rounded-l: 8px;
$var-rounded-xl: 10px;
$var-rounded-full: calc(infinity * 1px);
